
html body{font-family: 'microsoft yahei',Arial,sans-serif;}
.layout-body{display:flex;}
.layout-body .wp-drag{flex:2;height:100vh;border-right:1px solid #CDCDCD;box-sizing:border-box;padding:24px;position: relative;}
.layout-body .wp-menu{flex:1;height:100vh;}

.wp-drag .drag-main{width:50%;height:50vh;color:#CDCDCD;border:3px dashed;font-size:24px;text-align:center;line-height:50vh;position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);opacity:0;}
.wp-drag .drag-main.drop-hover{opacity:1;}

.drag-log p{font-weight:normal;font-size:14px;line-height:1.5;}
.drag-log .succ{color:#45BF55;}
.drag-log .fail{color:#F22233;}

.layout-body .wp-menu .menu-options{padding:20px;font-size:14px;height:60vh;border-bottom:1px solid #CDCDCD;box-sizing:border-box;}
.menu-options ul li{margin-bottom:10px;}
input[type=checkbox]{vertical-align:-2px;}

.layout-body .wp-menu .menu-address{padding:10px 20px;font-size:14px;height:40vh;box-sizing: border-box;}
.menu-address h3{font-size:14px;font-weight:normal;margin-bottom:10px;margin-left:-10px;}